@model Pii.Areas.Accounts.Models.Login
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="login page">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="login-header">
            <p>Đăng nhập</p>
           
        </div>
        <ul>
            <li class="valid-summary">@Html.ValidationSummary()</li>
            <li>
                <div class="input-info">
                    <p>Tên đăng nhập</p>
                    @Html.EditorFor(m => m.UserName)
                </div>
            </li>
            <li>
                <div class="input-info">
                    <p>Mật khẩu</p>
                    @Html.EditorFor(m => m.Password)
                </div>
            </li>
            <li style="text-align: left">
                <input type="reset" class="buttons" value="Hủy bỏ" onclick="window.location='/'" />
                <input type="submit" class="buttons" value="Đăng nhập" />
            </li>
        </ul>
    }
</div>
